/* shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* main style */
header{
    /* background-image: url(../assets/hero-bg.png); */
    background-color: #FFFFFF;
    margin: 16px;
}

nav{
    width: 100%;
    max-width: 1600px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 16px 120px;
}
nav .menu {
    width: 365px;
    display: flex;
    list-style-type: none;
    align-items:center;
    justify-content:flex-start;
    gap: 32px;
}
nav .extra{
    list-style-type: none;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
/* shared style-button*/
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
}