*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
.color_green{
    color: #30B868;
}



/* shared style-button*/
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
}
.btn:hover{
    color: #001931;
    background-color: #F95555;
}
.btn-transparent{
    background-color:transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
}
.btn-transparent:hover{
    color: #FFFFFF;
    background-color: #30B868;
}

/* main style */

/* navbar start */
nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 16px;
    margin-bottom: 16px;
}
nav .menu {
    display: flex;
    list-style-type: none;
    align-items:center;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
/* navbar end */

/* banner start */

#banner{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 116px 0px 180px;
}
.banner-content{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.text_box{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
}

.content-text{
    color: #FFFFFF;
}
#banner .content-text h1{
    font-size: 72px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}

#banner .content-text p{
    margin-bottom: 32px;
}

.btn1{
    margin-right: 16px;
}
/* banner end */

/* note section start */
.note-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.note-container .section-heading h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 16px;
}
.note-container .section-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

.color_orange{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card-box p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.card-box h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-box{
    display: flex;
    gap: 24px;
}

.note-card{
    border-radius: 8px;
    padding: 70px 24px;
    box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.06);
}
/* note section end */

/* solution section start */


/* solution section end */