/* shared style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style-button*/
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight:600;
}
.btn-transparent{
    background-color:transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight:600;
}

/* main style */

/* navbar start */
nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 16px;
    margin-bottom: 16px;
}
nav .menu {
    display: flex;
    list-style-type: none;
    align-items:center;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
/* navbar end */

/* banner start */
.text_box{
    width: 229px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    gap: 6px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}
/* .text_box img{
    width: 16px;
} */

.banner-content{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#banner{
    justify-content: space-between;
    align-items: center;
}

.content-text{
    color: #FFFFFF;
}
#banner .content-text h1{
    font-size: 72px;
    font-weight: 700;
}
.color_orange{
    color: #30B868;
}
/* banner end */