*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
.color_green{
    color: #30B868;
}

/* shared style-button*/
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
}
.btn:hover{
    color: #001931;
    background-color: #F95555;
}
.btn-transparent{
    background-color:transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
}
.btn-transparent:hover{
    color: #FFFFFF;
    background-color: #30B868;
}

/* main style */

/* navbar start */
nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 16px;
    margin-bottom: 16px;
}
nav .menu {
    display: flex;
    list-style-type: none;
    align-items:center;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
/* navbar end */

/* banner start */

#banner{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 116px 0px 180px;
}
.banner-content{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.text_box{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
}

.content-text{
    color: #FFFFFF;
}
#banner .content-text h1{
    font-size: 72px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}

#banner .content-text p{
    margin-bottom: 32px;
}

.btn1{
    margin-right: 16px;
}
/* banner end */

/* note-container start */

.note-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 24px;
}

#notes .section-heading h2{
    font-size: 48px;
    font-weight: 700;
    /* padding-top: 40px; */

    margin-top: 32px;
    margin-bottom: 16px;
}
#notes .section-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

.note{
    display: flex;
    gap: 24px;
}
